* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url(rua.jpg);
}

#sistema_container {
  background-image: linear-gradient(to bottom, #87d3d6c9, #b5bdba);
  width: 800px;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 30px;
  align-items: center;
}

#titulo {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 45px;
  color: #931621;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.157);
}
#input_usuario {
  font-size: 20px;
  padding: 10px;
}
#botao {
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  cursor: pointer;
  padding: 3px;
  border: 1px solid black;
}
#res {
  margin-top: 15px;
}
#botao:hover {
  border: 1px solid black;
  background-image: linear-gradient(to bottom, #87d3d6c9, #b5bdba);
}

#container-geral {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#velocidade_carro {
  padding: 2px;
  width: 60px;
  border-radius: 7px;
}

#pagamento {
  position: relative;
  left: 30%;
  top: 15%;
}

.link_pagamento {
  color: #931621;
  background-color: rgba(240, 248, 255, 0.349);
  border-radius: 15px;
  padding: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.13);
  text-decoration: none;
}

.link_pagamento:hover {
  text-decoration: underline;
  padding: 7px;
}
